  #photo1 {
    width: 1900px;
    margin-top: -26px;
    margin-left: -8px;
    background-size: contain;
    background-position: center;
}
  h1 {
    padding-left: 35px;
    font-size: 40px;
    vertical-align: bottom;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(119, 0, 155);
    position: absolute;
    margin-top: 20px;
  }
  #info_cafe {
    float: right;
    margin-top: 50px;
    margin-left: 1000px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;

    }
  
  #infoMenu {
    float: right;
    margin-top: 50px;
    margin-left: 1230px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    color: black;
    }
  #infoComanda {
    margin-top: 35px;
    margin-left: 1420px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
  }
  #infoContact {
    margin-top: 35px;
    margin-left: 1625px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
  }
  #infoBron {
    margin-top: 419px;
    margin-left: 900px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 22px;
  }

  #KosmosCOffee {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 450px;
    position: absolute;
    margin-top: 259px;
    margin-left: 810px;
    font-size: 42px;
    color: rgb(0, 0, 0);
    position: absolute;
  }
  #pryamougl {
      width: 321px;
      height: 100px;
      background-color: rgba(255, 0, 0, 0);
      position: absolute;
      margin-top: 375px;
      margin-left: 850px;
      border-width: 5px;
      border-style: double;
      border-color: rgb(0, 0, 0);
  }
  #O_nas {
    color: black;
    font-size: 23px;
    margin-left: 860px;
    margin-right: 260px;
    text-indent: 55px;
  }
  
  #brr2 {
    text-indent: 55px;
  }
  #Photo1 {
    width: 355px;
    margin-top: -10px;
    margin-bottom: 120px;
    margin-left: 159px;
  }
  #Photo2 {
    width: 355px;
    margin-top: -800px;
    margin-bottom: 60px;
    margin-left: -89px;
  }
  #Photo3 {
    width: 455px;
    margin-top: 10px;
    margin-bottom: -190px;
    margin-left: -590px;
  }
  h3 {
    color: rgb(0, 0, 0);
    font-size: 34px;
    text-align: center;
    white-space: nowrap;
  }
  #Ychasnik1 {
    width: 330px;
    margin-left: 60px;
    max-width: 100%;
  }
  #Alex {
    font-size: 30px;
    margin-left: 75px;
    margin-top: 5px;
    font-family:  Chancery L, cursive;
  }
  #Alex2 {
    font-size: 20px;
    margin-left: 80px;
    margin-top: -15px;
    font-family: Trattatello;
    letter-spacing: 3px;
  }
  #Ychasnik2 {
    width: 364px;
    margin-left: 90px;
    max-width: 100%;
  }
  #Veronika {
    font-size: 30px;
    margin-left: 530px;
    margin-top: -98px;
    font-family:  Chancery L, cursive;
  }
  #Veronika2 {
    font-size: 20px;
    margin-left: 540px;
    margin-top: -15px;
    font-family: Trattatello;
    letter-spacing: 3px;
  }
  #Ychasnik3 {
    width: 325px;
    margin-left: 90px;
    max-width: 100%;
  }
  #Aleksandr {
    font-size: 30px;
    margin-left: 970px;
    margin-top: -98px;
    font-family:  Chancery L, cursive;
  }
  #Aleksandr2 {
    font-size: 20px;
    margin-left: 970px;
    margin-top: -15px;
    font-family: Trattatello;
    letter-spacing: 3px;
  }
  #DRGKom {
font-size: 23px;
  }
h4 {
  font-size: 34px;
  margin-top: 230px;
  text-align: center;
}
#footer{ /* Блок подвала */
  height:90px; /* Высота блока подвала */
  background-color: rgba(48, 48, 43, 0.5); /* Фон блока подвала */
  border-radius: 5px; /* Закруглённые углы */
  box-shadow: rgba(251, 255, 0, 0.5) 0px 1px 3px; /* Тень блока */

}
.clear{ /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
  clear: both;
}
.LogFot{
float:left;
margin-left: 50px;
color: rgb(119, 0, 155);
font-size:25px ;
}
.fon{ /* Номер телефона */
  float:left; /* Разрешаем другим элементам обтекать абзац справа */
  margin:20px 0 0 200px;
  color: white;
}
.fax{ /* Номер факса */
  float:left;
  margin:20px 0 0 160px;
  color: white;
}
.mail{ /* Адрес E-mail */
  float:left;
 margin:20px 0 0 150px;
 color: white;
}
/*.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  height: 18px;
}*/
/*.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: black;
}*/
@media (min-width: 2560px) { //2560
  #photo1{
    width: 2172px
  }
  #KosmosCOffee {
    margin-left: 920px;
  }
  #infoBron {
    margin-left: 1000px;
  }
  #pryamougl {
    margin-left:950px;
  }
}
@media (min-width: 1440px) { //1440
  #O_nas{
    margin-left: 832px;
    margin-right: 0px;
  }
  #KosmosCOffee {
    margin-left: 620px;
    color: purple;
  }
  #infoBron {
    margin-left: 700px;
    color:
  }
  #pryamougl {
    margin-left:650px;
  }
}
@media (min-width: 670px) { //670
  #O_nas{
    margin-left: 832px;
    margin-right: 800px;
  }
}
@media (min-width: 320px) { //320
  #O_nas {
    margin-right: 300px;
  }
  #brr2 {
    white-space: nowrap;
  }
  h3 {
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #KosmosCOffee {
    margin-left: 210px;
    color: white;
    margin-top: 150px;
  }
  #infoBron {
    margin-left: 360px;
    color: black;
    margin-top:280px;
  }
  #pryamougl {
    margin-left:277px;
    margin-top:245px;
    border-color: white;
  }
  #info_cafe {
    margin-right:800px;
    white-space: nowrap;
  }
  #photo1 {
    width: 910px;
    height: 430px
  }
  #infoContact {
    margin-left: 360px;
    margin-top: 32px;
  }
  #info_cafe {
    margin-left: 300px;
    opacity: 0.0;
  }
  #infoMenu {
    margin-left: 495px;
  }
  #infoComanda {
    margin-left:640px;
  }
  #Photo1 {
    margin-left: -8px;
    margin-top: -530px;
    width: 260px;
    position: absolute;
  }
  #Photo2 {
    margin-left: 150px;
    margin-bottom: 180px;
    width: 260px;
  }
  #Photo3 {
    margin-left: -5px;
    margin-bottom: -200px;
    width: 260px;
    margin-top: -340px;
    position: absolute;
  }
  #O_nas {
    margin-left:435px;
    margin-right: -520px;
  }
  h4 {
    margin-top: 20px;
    margin-left: 200px;
    white-space: nowrap;
  }
}