  #photo1 {
    width: 1920px;
    margin-top: -26px;
    margin-left: -8px;
    background-size: contain;
    background-position: center;
}
  h1 {
    padding-left: 35px;
    font-size: 40px;
    vertical-align: bottom;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(119, 0, 155);
    position: absolute;
    margin-top: 20px;
  }
  #info_cafe {
    float: right;
    margin-top: 50px;
    margin-left: 1000px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    }
  
  #infoMenu {
    float: right;
    margin-top: 50px;
    margin-left: 1230px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    color: black;
    }
  #infoComanda {
    margin-top: 35px;
    margin-left: 1420px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
  }
  #infoContact {
    margin-top: 35px;
    margin-left: 1625px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
  }
  #infoBron {
    margin-top: 419px;
    margin-left: 900px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 20px;
  }

  #KosmosCOffee {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 450px;
    position: absolute;
    margin-top: 259px;
    margin-left: 810px;
    font-size: 42px;
    color: rgb(0, 0, 0);
    position: absolute;
  }
  #pryamougl {
      width: 321px;
      height: 100px;
      background-color: rgba(255, 0, 0, 0);
      position: absolute;
      margin-top: 375px;
      margin-left: 850px;
      border-width: 5px;
      border-style: double;
      border-color: rgb(0, 0, 0);
  }
  #O_nas {
    color: #ffffff;
    font-size: 20px;
  }
  #Photo1 {
    width: 355px;
    margin-top: -100px;
    margin-bottom: 120px;
    margin-left: 159px;
  }
  #Photo2 {
    width: 355px;
    margin-top: -800px;
    margin-bottom: 60px;
    margin-left: -89px;
  }
  #Photo3 {
    width: 455px;
    margin-top: 10px;
    margin-bottom: -190px;
    margin-left: -590px;
  }
  h3 {
    color: rgb(0, 0, 0);
    font-size: 33px;
    text-align: center;
  }
