body{
    
    background: rgba(0, 0, 0, 0.808); /* Меняется фон экрана, выбирается здесь */
    height: 100vh; /* Высота равная 100% видимой высоты экрана */
    margin-top: 0;
    
  }

#wrapper{ /* Оболочка страницы сайта */
    width: 1080px; /* Меняется ширина страницы */
    margin: auto;
    background:#00000075; /* Меняется задний фон страницы */
    box-shadow: rgba(0, 0, 0, 0.507) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
    color: rgb(0, 0, 0);
    
  }
  
  /* Шапка сайта */
  
 #header{
    position: relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
    height: 460px; /* Высота шапки */
    background-color: 0000004f; /* Фон шапки */
    margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
    border-radius: 0px; /* Закругляются углы блока */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
    
  }
  /*#Star {
    text-align: top;
    margin-top: -40px;
    font-size: 30px;
    }*/

  #info_cafe {
  float:left;
  margin:-20px 0 0 230px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  }

#infoMenu {
  float: left;
  margin-top: -20px;
  margin-left: 430px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  }
#infoComanda {
  float: left;
  margin-top: -37px;
  margin-left: 570px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
#infoContact {
  float: left;
  margin-top: -37px;
  margin-left: 730px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
#infoBron {
  float: left;
  margin-top: -51px;
  margin-left: 900px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.rectangle {
  width: 180px; /* Ширина прямоугольника */
  height: 67px; /* Высота прямоугольника */
  background-color: rgb(255, 255, 255); /* Цвет фона прямоугольника */
  border: 0 solid #2980b9; /* Граница прямоугольника */
  float: right;
  margin-right: 27px;
  margin-top: -60px;
  border-radius: 20px
}
#CoffeeH {
  /* avto_doroga_dvizhenie_120501_3840x2400 1 */

position: absolute;
width: 1050px;
height: 345px;
left: 13px;
top: 92px;
max-width: 100%;
}
#KosmosCOffee {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 450px;
  position: absolute;
  margin-top: 173px;
  margin-left: 340px;
  font-size: 40px;
  color: rgba(255, 0, 140, 0.356);
}

h1{ /* Заголовок сайта */
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: -60px;
     /* Цвет заголовка */
    font-size: 20px;
    vertical-align: bottom;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(119, 0, 155);
    
  }





  h2 {
margin-left: 315px;
margin-top: -55px;
color: rgb(255, 255, 0);
position: absolute;
font-size: 33px;
  }
#Work {
color: #ffffff;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
position: absolute;
margin-top: 125px;
margin-left: -20px;
font-size: 20px;
}
#suitcase {
  width: 83px;
  position: absolute;
  margin-top: 29px;
  margin-left: 20px;
}

#cafe2 {
  width: 83px;
  position: absolute;
  margin-top: 29px;
  margin-left: 370px;
}
#Cafe {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: absolute;
  margin-top: 125px;
  margin-left: 330px;
  font-size: 20px;
}
@media (min-width: 320px) {
  #Cafe{
    margin-left: 370px;
  }
}
@media (min-width: 670px) {
  #Cafe{
    margin-left: 332px;
  }
}
#Coffee20 {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: absolute;
  margin-top: 125px;
  margin-left: 690px;
  font-size: 20px;
}
#coffee20 {
  width: 83px;
  position: absolute;
  margin-top: 29px;
  margin-left: 686px;
}
@media (min-width: 320px) {
  #Coffee20 {
    margin-left: 680px;
  }
}
  @media (min-width: 1020px) {
    #Coffee20{
      margin-left: 610px;
    }
    
}
.rectangle2 {
  width: 1020px; /* Ширина прямоугольника */
  height: 400px; /* Высота прямоугольника */
  background-color: rgba(0, 0, 0, 0.137); /* Цвет фона прямоугольника */
  border: 0 solid #2980b9; /* Граница прямоугольника */
  float: left;
  margin-left: -88px;
  margin-top: -95px;
  border-radius: 10px;
}
h3 {
color: rgb(255, 255, 0);
margin-top: -480px;
margin-left: 500px;
font-size: 33px;
}
hr {
  width: 200px;
  margin-left: 500px;
}
#O_nas {
  word-wrap: break-word;
  margin-left: 500px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 80px;

}
#Photo1 {
  width: 265px;
  margin-top: -800px;
  margin-bottom: 120px;
  margin-left: 29px;
}
#Photo2 {
  width: 265px;
  margin-top: -800px;
  margin-bottom: 40px;
  margin-left: -89px;
}
#Photo3 {
  width: 265px;
  margin-top: -800px;
  margin-bottom: -40px;
  margin-left: -440px;
}
  /* Контент (статья) */
#content{ /* Блок контента */
    margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
    width: 856px; /* Ширина статьи */
    padding: 112px; /* Отступ текста от краёв блока */
    background: 0000004f; /* Фон статьи */
    border-radius: 5px;
    height: 700px;
  }
.O_nas1 {
  margin-bottom: 660px; /*ОТСТУП НИЖНИЙ*/
}
h4 {
  color: rgb(255, 255, 0);
margin-top: -550px;
margin-left: 100px;
font-size: 33px;
}
.hrr2 {
  width: 280px;
  margin-left: 79px;
  margin-top: -33px;
}
#DRGKom {
  color: #ffffff;
  margin-left: 80px;
  font-size: 20px;
  word-wrap: break-word;
  margin-right: 330px;
}
#Ychasnik1 {
  width: 250px;
  margin-left: 60px;
  max-width: 100%;
}
#Alex {
  color: #ffffff;
  font-size: 30px;
  margin-left: 70px;
  margin-top: 5px;
  font-family:  Chancery L, cursive;
}
#Alex2 {
  color: #ffffff;
  font-size: 20px;
  margin-left: 80px;
  margin-top: -15px;
  font-family: Trattatello;
  letter-spacing: 3px;
}
#Ychasnik2 {
  width: 275px;
  margin-left: 90px;
  max-width: 100%;
}
#Veronika {
  color: #ffffff;
  font-size: 30px;
  margin-left: 430px;
  margin-top: -98px;
  font-family:  Chancery L, cursive;
}
#Veronika2 {
  color: #ffffff;
  font-size: 20px;
  margin-left: 440px;
  margin-top: -15px;
  font-family: Trattatello;
  letter-spacing: 3px;
}
#Ychasnik3 {
  width: 250px;
  margin-left: 90px;
  max-width: 100%;
}
#Aleksandr {
  color: #ffffff;
  font-size: 30px;
  margin-left: 790px;
  margin-top: -98px;
  font-family:  Chancery L, cursive;
}
#Aleksandr2 {
  color: #ffffff;
  font-size: 20px;
  margin-left: 807px;
  margin-top: -15px;
  font-family: Trattatello;
  letter-spacing: 3px;
}
  /* Подвал */
#footer{ /* Блок подвала */
    height:80px; /* Высота блока подвала */
    background-color: rgba(48, 48, 43, 0.5); /* Фон блока подвала */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 5px; /* Закруглённые углы */
    box-shadow: rgba(251, 255, 0, 0.5) 0px 1px 3px; /* Тень блока */

  }
.clear{ /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
    clear: both;
  }
.LogFot{
  float:left;
  margin-left: 50px;
  color: rgb(119, 0, 155);
  font-size:25px ;
  }
.fon{ /* Номер телефона */
    float:left; /* Разрешаем другим элементам обтекать абзац справа */
    margin:20px 0 0 200px;
    color: white;
  }
.fax{ /* Номер факса */
    float:left;
    margin:20px 0 0 160px;
    color: white;
  }
.mail{ /* Адрес E-mail */
    float:left;
   margin:20px 0 0 150px;
   color: white;
  }

  