body{
    background: blueviolet /* Меняется фон экрана, выбирается здесь */
  }
  
#wrapper{ /* Оболочка страницы сайта */
    width: 900px; /* Меняется ширина страницы */
    margin: 0 auto;
    background:#f2e8c9; /* Меняется задний фон страницы */
  }
  
  /* Шапка сайта */
  
 #header{
  position:relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
    height: 450px; /* Высота шапки */
    background-color: #ffffff; /* Фон шапки */
    margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
    border-radius: 5px; /* Закругляются углы блока */
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
    
  }
#info_cafe {
  float:left;
  margin:-33px 0 0 190px;
  font-family: sans-serif;
  font-weight: bold;
  }

#infoMenu {
  float: left;
  margin-top: -32px;
  margin-left: 350px;
  font-family: sans-serif;
  font-weight: bold;
  }
#infoComanda {
  float: left;
  margin-top: -33px;
  margin-left: 465px;
  font-family: sans-serif;
  font-weight: bold;
}
#infoContact {
  float: left;
  margin-top: -33px;
  margin-left: 600px;
  font-family: sans-serif;
  font-weight: bold;
}
#infoBron {
  float: left;
  margin-top: -51px;
  margin-left: 750px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
.rectangle {
  width: 180px; /* Ширина прямоугольника */
  height: 67px; /* Высота прямоугольника */
  background-color: black; /* Цвет фона прямоугольника */
  border: 0 solid #2980b9; /* Граница прямоугольника */
  float: right;
  margin-right: 7px;
  margin-top: -60px;
  border-radius: 20px
}
#CoffeeH {
  /* avto_doroga_dvizhenie_120501_3840x2400 1 */

position: absolute;
width: 870px;
height: 299px;
left: 13px;
top: 92px;
max-width: 100%;
}
#KosmosCOffee {
  font-family: sans-serif;
  font-weight: bold;
  width: 50px;
}





h1{ /* Заголовок сайта */
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: -60px;
    color:#000000; /* Цвет заголовка */
    font-size: 20px;
    vertical-align: bottom;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }
.nomer{ /*Подзаголовок (номер телефона)*/
    position:absolute; /* Позиционируем абсолютно подзаголовок, относительно границ блока header. Также можно разместить в шапке сайта ещё другие картинки и абзацы поверх фоновой картинки и заголовка */
    top:5px; /* Двигается вверх-вниз */
    left:680px; /* Двигается вправо-влево */
    font-size: 25px; /* Размер букв подзаголовка */
    font-style:italic; /* Курсив */
    font-weight:bold; /* Жирный */
    color:#464451; /* Цвет букв подзаголовка */
  }
  
.marcer{ /* Галочки маркеры меню */
    float: left; /* Размещаем слева от текста */
    margin: 5px 5px 0 0; /* Двигаются вверх-вправо-вниз-влево */
  }
  
  /* Контент (статья) */
#content{ /* Блок контента */
    margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
    width: 676px; /* Ширина статьи */
    padding: 112px; /* Отступ текста от краёв блока */
    background: #ffffff; /* Фон статьи */
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  }

  /* Подвал */
#footer{ /* Блок подвала */
    height:80px; /* Высота блока подвала */
    background-color: #ffffff; /* Фон блока подвала */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 5px; /* Закруглённые углы */
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень блока */
  }
.clear{ /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
    clear: both;
  }
.fon{ /* Номер телефона */
    float:left; /* Разрешаем другим элементам обтекать абзац справа */
    margin:20px 0 0 20px;
  }
.fax{ /* Номер факса */
    float:left;
    margin:20px 0 0 60px;
  }
.mail{ /* Адрес E-mail */
    float:left;
   margin:20px 0 0 60px;
  }
#Star {
text-align: top;
margin-bottom: -39px;
}
  